<h1>Listing false_words</h1>

<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Word</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @false_words.each do |false_word| %>
      <tr>
        <td><%= false_word.word_id %></td>
        <td><%= false_word.word %></td>
        <td><%= false_word.level %></td>
        <td><%= link_to 'Show', false_word %></td>
        <td><%= link_to 'Edit', edit_false_word_path(false_word) %></td>
        <td><%= link_to 'Destroy', false_word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New False word', new_false_word_path %>
