<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @false_word.word_id %>
</p>

<p>
  <strong>Word:</strong>
  <%= @false_word.word %>
</p>

<p>
  <strong>Level:</strong>
  <%= @false_word.level %>
</p>

<%= link_to 'Edit', edit_false_word_path(@false_word) %> |
<%= link_to 'Back', false_words_path %>
