
  <div class="field">
    <%= f.label :test %><br>
    <%= f.text_field :test %>
  </div>
  <div class="field">
    <%= f.label :translation %><br>
    <%= f.text_field :translation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
    <div class="field">
      <%=f.hidden_field :lang_id, :value => @current_user.user_type  %>
    </div>
<% end %>
