<h1>Listing memo_cards</h1>

<table>
  <thead>
    <tr>
      <th>Word</th>
      <th>Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memo_cards.each do |memo_card| %>
      <tr>
        <td><%= memo_card.word %></td>
        <td><%= memo_card.id %></td>
        <td><%= link_to 'Show', memo_card %></td>
        <td><%= link_to 'Edit', edit_memo_card_path(memo_card) %></td>
        <td><%= link_to 'Destroy', memo_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Memo card', new_memo_card_path %>
