<!DOCTYPE html>
 <html>

 <head>
          <title>Memo cards</title>
          <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
          <%= csrf_meta_tags %>
        </head>
   <body>

    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"> <a href="#home" data-toggle="tab">Home</a> </li>
        <li> <a href="#profile"  data-toggle="tab">My status</a></li>
        <li> <a href="#messages"  data-toggle="tab">About</a> </li>
        <div class='tab-content'>
          <div class="tab-pane active" id="home"> KooshKoosh learns Hebrew v1 </div>
          <div class="tab-pane fade" id="profile"> My status is:  <% if user_signed_in? %> Good ! <% else %> logout <% end %>  ! </div>
          <div class="tab-pane fade" id="messages"> KooshKoosh learns hebrew. created by:Tal </div>
        </div>
      </ul>
      <!-- tab section -->
    </div>




    <div id="container">
        <ul class ="nav nav-pills">
          <% if user_signed_in? %>  signed in as: <%= current_user.email %>
            <%=link_to "Sign out", destroy_user_session_path , :method => :delete %>
          <% else %> you are log out <%= link_to('Login', new_user_session_path) %> or <%= link_to('Sign up', new_user_registration_path) %>
        <% end %>
        </ul>
      </div>

        <%= yield %>
    </body>
</html>
